body{
    margin: 0px;
    padding: 0px;
    
}
.banner_titulo{
    margin-top: 60px;
    width: 100%;
    height: 60px;
    position: relative;
    background: linear-gradient(#ff393eff, pink);
}
.bloques_de_tarjetas{
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    zoom: 90%;
}
.tarjeta{
    display: flex;
    margin-top: 15px;
    border-radius: 5px;
    border: 2px solid rgb(148, 147, 147);
    margin: 10px;
    height: 170px;
    width: 500px;    
    background: rgb(236, 236, 236);
    color:rgb(85, 85, 85);
    box-shadow: 2px 2px 7px black;
        
}
#logo_editorial{
    height:130px;
    width: 130px;
    position: relative;
    border-radius: 50%;
    margin: 5px;
    
}
.block_items{    
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    zoom: 80%;
    width: 320px;
     
}
.nombre_editorial {
    font: 25px sans-serif;
}
.telefono_fijo{
    font-size: 20px;
    margin-top: 25px;
}
.whatsapp {
    font-size: 20px;
    margin-top: 25px;
}
.correo{
    font-size: 20px;
    margin-top: 25px;
}   
.sitio_web{
    font-size: 20px;
    margin-top: 25px;

}
.direccion{
    font-size: 20px;
    margin-top: 25px;
   
}
.boton_ver_obras{
    position:absolute;
    margin-top: 2%;
    margin-left: 390px;
    border: solid 0.5px;
    border-radius: 10px;
    height: 20px;
    width: 90px;
    padding-left: 1%;
    color:rgb(85, 85, 85);
}
.boton_ver_obras:hover{
    color: #ffffff;
    background-color: rgb(187, 180, 177);
}
.editoriales_titulo{
    position: relativea;
    font-size: 25px;
    color:rgb(235, 238, 241);
    padding-top: 5px;
    margin-bottom: 0px;
    margin-left:40px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin-top: 13px;
}
